<link href='https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700,400italic|Montserrat:400,700|Cardo:400italic|Advent+Pro:100' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    
    
  <!-- HOME -->
  <div id="home" class="content-section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1>Naturollz</h1>
          <h5>100% Hemp Rolling Papers</h5>
        </div>
      </div>
    </div>
  </div>

  
  <!-- ABOUT -->
  <div id="about" class="content-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-lg-7">
          <h1>ABOUT</h1>
          <p class="lead">Objective: Build a CodePen.io app that successfully reverse-engineers</p>
          <p><strong>Rule #1:</strong> Don't look at the example project's code on CodePen. Figure it out for yourself.</p>
          <p><strong>Rule #2:</strong> You may use whichever libraries or APIs you need.</p>
          <p><strong>Rule #3:</strong> Reverse engineer the example project's functionality, and also feel free to personalize it.</p>
          <p><strong>Hint:</strong> If you don't want to start from scratch, you can fork this simple Bootstrap portfolio template on </p>
          <p>Here are the user stories you must enable, and optional bonus user stories:</p>
          <p><strong>User Story:</strong> As a user, I can access all of the portfolio webpage's content just by scrolling.</p>
          <p><strong>User Story:</strong> As a user, I can click different buttons that will take me to the portfolio creator's different social media pages.</p>
          <p><strong>User Story:</strong> As a user, I can see thumbnail images of different projects the portfolio creator has built (if you haven't built any websites before, use placeholders.)</p>
          <p><strong>Bonus User Story:</strong> As a user, I navigate to different sections of the webpage by clicking buttons in the navigation.</p>
          <p>Don't worry if you don't have anything to showcase on your portfolio yet - you will build several apps on the next few CodePen challenges, and can come back and update your portfolio later.</p>
          <p>There are many great portfolio templates out there, but for this challenge, you'll need to build a portfolio page yourself. Using Bootstrap will make this much easier for you.</p>
          <blockquote>
            <p>Remember to use <mark><em>Read-Search-Ask</em></mark> if you get stuck.</p>
          </blockquote>
          <p>When you are finished, click the <strong>"I've completed this challenge"</strong> button and include a link to your CodePen. If you pair programmed, you should also include the Free Code Camp username of your pair.</p>
        </div>
        <div class="col-sm-4 col-lg-5 hidden-xs">
          <img src="http://s4.postimg.org/wzkxhfy59/lego_dimensions_patent.jpg" alt="" class="pull-right img-responsive">
        </div>
      </div>
    </div>    
  </div>
  

  <!-- PORTFOLIO -->
  <div id="portfolio" class="content-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>PORTFOLIO</h1>
          <p class="lead">Below you'll find some of my recent projects.</p>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="https://placeimg.com/768/456/arch/grayscale" alt="Project Dummy">
            <div class="caption">
              <h4>Sample Project #1</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="https://placeimg.com/768/456/nature/grayscale" alt="Project Dummy">
            <div class="caption">
              <h4>Sample Project #2</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="https://placeimg.com/768/456/people/grayscale" alt="Project Dummy">
            <div class="caption">
              <h4>Sample Project #3</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="https://placeimg.com/768/456/tech/grayscale" alt="Project Dummy">
            <div class="caption">
              <h4>Sample Project #4</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="https://placeimg.com/768/456/animals/grayscale" alt="Project Dummy">
            <div class="caption">
              <h4>Sample Project #5</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    


  <!-- CONTACT -->
  <div id="contact" class="content-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>Find us!</h1>
          <p class="lead">Check us out our other Social Media sites</p>
          <div class="social-cont">
            <div class="row">
              <div class="col-sm-12">
                <a class="btn btn-default btn-lg linkedin-btn" href="https://facebook.com" role="button" target="_blank"><i class="fa fa-facebook"></i><span>Facebook</span></a>
                <a class="btn btn-default btn-lg twitter-btn" href="https://twitter.com/lveent" role="button" target="_blank"><i class="fa fa-twitter"></i><span>Twitter</span></a>
                <a class="btn btn-default btn-lg github-btn" href="https://github.com/lveent" role="button" target="_blank"><i class="fa fa-github"></i><span>Github</span></a>
              </div>
            </div>  
          </div>

        </div>
      </div>
    </div>
  </div>